{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-8 ml-3">
        <h2 id="page-title" class="page-header">
            Muscles
        </h2>
        <hr>
    </div>
    <div class="col-md-4 py-3">
        <div class="btn-group">
            <a href="/exercise/new" class="btn btn-success btn-sm">Add Exercise</a>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 order-2 order-2 order-sm-1 mt-3">
        <div>
            <div class="list-group">
                {% for muscle in muscles %}
                <a href = "/exercise/muscles/{{muscle.id}}/view" class="list-group-item">
                    <p class="list-group-item-heading h5">{{ muscle.name }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock%}