{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-12 col-md-8">
        <h2 id="page-title" class="page-header">
            {{ muscle.name }}
        </h2>
        <hr>
    </div>
    <div class="col-md-4 py-3">
        <div class="btn-group">
            <a href="/workout/new" class="btn btn-success btn-sm">Add Workout</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 order-2 order-2 order-sm-1 mt-3">
        <div>
            <div class="list-group">
                {% for exercise in muscle.exercises %}
                    <a href = "/exercise/{{exercise.id}}/view" class="list-group-item">
                        <p class="list-group-item-heading h5">{{ exercise.name }}</p>
                        <p class="list-group-item-text">{{ exercise.equipment }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}