<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/app.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>    
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            {% if g.user %}
            <a class="navbar-left text-light" href="/dashboard">Pinnacle</a>
            {% else %}
            <a class="navbar-left text-light" href="/">Pinnacle</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link text-light" href="/exercise/overview">Exercises<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="/exercise/categories/overview">Categories</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="/exercise/muscles/overview">Muscles</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="/exercise/equipment/overview">Equipment</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class=" nav-link text-light" href="/user/settings">{{ g.user.username }}</a> 
                </li> 
              </ul>
              
            </div>
         </nav>

         
        {% block content %}
        {% endblock %}
        <footer class="bg-primary">
          <div class="row">
            <div class="col text-center">
             <a href="/workout-templates" class="text-light">Workout templates</a>
            </div>
            <div class="col text-center">
              <a href="/rep-ranges" class="text-light">Repetition Ranges and 1RM Calculator</a>
            </div>
          </div>
         </footer>
  
    </body>
</html>