{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-8 ml-3">
        <h2 class="page-header">Dashboard</h2>
    </div>   
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header text-center bg-primary text-light">
            Workouts
        </div>
        <div class="card-body text-center">
            {% if g.user.workouts %}
                <h5 class="card-title text-center">Last Workout</h5>
                <a class="text-center" href="/workout/view/{{latest_workout.id}}">{{ latest_workout.name }}</a>
                <p>{{ latest_workout.date }}</p>
                <a class="text-center" href ="/workout/overview">View All Workouts</a>
            {% endif %}
            {% if not g.user.workouts %}
                <p class="text-center">You currently have no workouts logged</p>
            {% endif %}
        </div>
        <div class="card-footer text-center">
            <a href="/workout/new" class="btn btn-success btn-sm" role="button">Create new Workout</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center bg-primary text-light">
            Weight Entries
        </div>
        <div class="card-body text-center">
            {% if g.user.weight_entries %}
                <h5 class="card-title text-center">Your Current Weight is {{ current_weight.weight }} </h5>
                <p class="text-center">Last Logged on {{ current_weight.date }}</p>
                <p class="font-weight-bold text-center">Weight Change to Date:</p>
                <p class="text-center">{{ weight_diff }} lbs </p>
                <a href="/weightentries/overview" class="text-center">View all entries</a>
            {% endif %}
            {% if not g.user.weight_entries %}
                <p class="text-center">You currently have no entries logged</p>
            {% endif %}
        </div>
        <div class="card-footer text-center">
            <a href="/weightentries/new" class="btn btn-success btn-sm" role="button">Log new weight</a>
        </div> 
    </div>
</div>

{% endblock %}
