{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-8 ml-3">
        <h2 id="page-title" class="page-header">
            Workout Templates
        </h2>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-8 order-2 order-sm-1 mt-3">
        <div class="ml-3">
            <p>When planning a strength training schedule, it's important to allow for 48-72 hours rest for the muscle group trained. Below are some examples of ways to optimally space out muscle groups trained based on how manuy days you plan on training.</p>
            <br>
            <h5>2x Week Templates:</h5>
            <ul>
                <li>
                    Day 1: Full Body
                    <br>
                    Day 2: Full Body
                </li>
                <li>
                    Day 1: Upper Body 
                    <br>
                    Day 2: Lower Body
                </li>
            </ul>
            <br>
            <h5>3x Week Templates</h5>
            <ul>
                <li>
                    Day 1: Full Body 
                    <br>
                    Day 2: Full Body 
                    <br>
                    Day 3: Full Body
                </li>
                <br>
                <li>
                    Day 1: Upper Body Push 
                    <br>
                    Day 2: Upper Body Pull
                    <br>
                    Day 3: Lower Body 
                </li>
                <br>
                <li>
                    <h6>ABA Workout Template</h6>
                    <p>With this format you will have a Workout A and Workout B. The first week will be Workout A 2 times week and Workout B 1 time.The Following week you will do Workout B 2 times and A one time.</p>
                    <p>Some examples of this Include:</p>
                    <p>Workout A: Upper Push/Lower Pull Workout B: Upper Pull/Lower Push</p>
                    <p>Workout A: Push Workout B: Pull</p>
                </li>
            </ul>
            <h5>4 x Week Templates</h5>
            <ul>
                <li>
                    Day 1 and Day 3: Upper Body
                    <br>
                    Day 2 and Day 4: Lower Body
                </li>
                <br>
                <li>
                    Day 1: Chest/Triceps 
                    <br>
                    Day 2: Back/Biceps 
                    <br>
                    Day 3: Legs/Abs
                    <br>
                    Day 4: Shoulders
                </li>
            </ul>
            <h5>5 x Week Templates</h5>
            <ul>
                <li>
                    Day 1: Chest
                    <br>
                    Day 2: Back
                    <br>
                    Day 3: Legs
                    <br>
                    Day 4: Shoulders 
                    <br>
                    Day 5: Arms/Abs
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}