{% extends 'base.html' %}

{% block content %}

<div>
    <ul>
        {% for workout in user.workouts %}
        
            <li class="list-group-item">
                <a href="/workout/{{ workout.id }}">{{ workout.date }}</a>
            </li>

        {% endfor %}
    </ul>
</div>

<div>
    <button action="/users/workout/create"></button>
</div>

<div>
    <ul>
        {% for weight_entry in weight_entries}

            <li>{{ weight_entry.date }} :
                {{ weight_entry.weight }}

            </li>

        {% endfor %}
    </ul>
</div>

{% endblock %}
