{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-12 col-md-8">
        <h2 id="page-title" class="page-header">
            {{ workout.name }}
        </h2>
        <hr>
    </div>
    <div class="col-md-4 py-3">
        <div class="btn-group">
           <a href="/workout/overview" class="btn btn-primary btn-sm">All Workouts</a>
        </div>
    </div>
</div>
<a href="/workout/{{ workout.id }}/new-set" class="btn btn-success btn-sm justify-content-center">Add Set</a>
<div class="row">
    <div class="col-md-8 order-2 order-2 order-sm-1 mt-3">
        <div>
            <div class="list-group">
                {% for set in workout.sets %}
                <p class="list-group-item-heading h5">Exercise: {{ set.exercise }}</p>
                <p class="list-group-item-text">Repetitions :{{ set.reps }}</p>
                <p class="list-group-item-text"> Weight :{{ set.weight }}<span><a href="/workout/{{ workout.id }}/{{ set.id }}/delete-set" class="btn btn-danger btn-sm">Delete</a></span></p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}