{% extends 'base.html' %}

<div>
    <h2>Set Details</h2>
    <div>
        <form method="POST">
            {{ form.csrf_token }}
            <div>
                {% if form.text.errors %}
                    {% for error in form.text.errors %}
                        <span class="text-danger">
                            {{ error }}
                        </span>
                    {% endfor %}
                {% endif %}
                {{ field(placeholder=field.label.text, class="form-control") }} 
            </div>
            <button class="btn btn-outline-success btn-block">Add Set</button> 
        </form>    
    </div>
</div>