{% extends 'base.html' %}
{% block content %}
<div>
    <h2>Set Details</h2>
    <div>
        <form method="POST">
            {{ form.hidden_tag() }}
        {% for field in form
            if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}
          
            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </p>
        {% endfor %}
            <button class="btn btn-outline-success btn-block">Add Set</button>
            
        </form>
        <a href="/workout/view/{{workout.id}}"class="btn btn-outline-primary btn-block">Return to Workout</button> 
    </div>
</div>

{% endblock %}